.ContractorList{
    font-size: 1.2em;
}

.AddContractorButton{
    border: none;
    background-color: transparent;
    color: #00b809;
}

.card{
    border-radius: 0%;
}
.card-header:hover{
    background-color: #1890ff;
    border-radius: 0%;
}